# Ignore node_modules (we’ll reinstall them inside the container)
node_modules
npm-debug.log
yarn-error.log

# Ignore git history and metadata
.git
.gitignore

# Ignore local environment files
.env.local
.env
.DS_Store
.vscode
.idea
