# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.cache
frontend/.eslintcache
frontend/.yarn
frontend/.pnp
frontend/.pnp.js
frontend/.parcel-cache

# Backend
backend/node_modules
backend/dist
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.cache
backend/.yarn
